streamlit==1.42.0
langchain==1.2.0
langchain-classic==1.0.0
langchain-core==1.2.2
langchain-community==0.4.1
langchain-google-genai>=2.0.7
supabase>=2.10.0
python-dotenv>=1.0.1
pandas>=2.2.3
streamlit-supabase-auth>=1.0.2
Pillow
pydantic
beautifulsoup4
qrcode
